body {
  background-color: burlywood;
}

h1 {
  color: pink;
}

.header {
  color: white;
}

.navigation {
  color: lightpink;
}

a {
  text-decoration: none;
  color: #FF87AB; 
}

img {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  vertical-align: middle;
}

.wrapper1 {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 5 rem;
}

.intro1 {
  flex: 1;
}

.wrapper2 {
    padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 5 rem;
}

.intro2 {
  flex: 1;
}

.wrapper3 {
    padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 5 rem;
}

.intro3 {
  flex: 1;
}