.sour-gummy {
  font-size: 28px;
  font-family: 'Sour Gummy', sans-serif;
}

.cause {
  font-size: 20px;
  font-family: 'Cause', sans-serif;
}

body {
  background-color: rgb(32, 30, 34);
}

h1, h2 {
  color: pink;
}

.header {
  color: white;
}

.navigation {
  color: lightpink;
}

a {
  font-size: 30;
  text-decoration: none;
  color: #FF87AB; 
}

p {
  font-family: Cause;
  color: #f7eeea;
}

img {
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  vertical-align: middle;
}

.wrapper {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 5 rem;
}

.intro {
  flex: 1;
}

.tab {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}